In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('/content/Market_Basket_Optimisation.csv')
df.head()

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.isna().sum()

shrimp                  0
almonds              1754
avocado              3112
vegetables mix       4156
green grapes         4972
whole weat flour     5637
yams                 6132
cottage cheese       6520
energy drink         6847
tomato juice         7106
low fat yogurt       7245
green tea            7347
honey                7414
salad                7454
mineral water        7476
salmon               7493
antioxydant juice    7497
frozen smoothie      7497
spinach              7498
olive oil            7500
dtype: int64

In [ ]:
len(df.columns)

20

In [ ]:
df.shape

(7500, 20)

In [ ]:
t=[]
for i in range(len(df)):
  t.append([str(df.values[i,j]) for j in range(df.shape[1]) if str(df.values[i,j]) != '0'])

In [ ]:
!pip install apyori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5954 sha256=b5d842e815fd6c2227e8d0bf90a4cc7c982a43020934e0f63ea5954ed6782515
  Stored in directory: /root/.cache/pip/wheels/7f/49/e3/42c73b19a264de37129fadaa0c52f26cf50e87de08fb9804af
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [ ]:
from apyori import apriori
rules = apriori(transactions=t,min_support=0.003,min_confidence=0.2,min_lift=3,min_length=2,max_length=2)
results = list(rules)

In [ ]:
s =results[0][1]

0.004533333333333334

In [ ]:
r = list(results[0][2][0])
l1 =list(r[0])[0]
l2 =list(r[1])[0]
c =r[2]
li =r[3]
print(l1,l2)
print('c',c)
print('li',li)

light cream chicken
c 0.2905982905982906
li 4.843304843304844

In [ ]:
def lists(results,i):
  s = results[i][1]
  r = list(results[i][2][0])
  l1 =list(r[0])[0]
  l2 =list(r[1])[0]
  c =r[2]
  li =r[3]
  return [l1,l2,s,c,li]
res = []
for i in range(len(results)):
  res.append(lists(results,i))

In [ ]:
pd.DataFrame(res,columns=['first','second','support','confidence','lift'])

                  first       second   support  confidence      lift
0           light cream      chicken  0.004533    0.290598  4.843305
1  mushroom cream sauce     escalope  0.005733    0.300699  3.790327
2                 pasta     escalope  0.005867    0.372881  4.700185
3         fromage blanc        honey  0.003333    0.245098  5.178128
4         herb & pepper  ground beef  0.016000    0.323450  3.291555
5          tomato sauce  ground beef  0.005333    0.377358  3.840147
6           light cream    olive oil  0.003200    0.205128  3.120612
7     whole wheat pasta    olive oil  0.008000    0.271493  4.130221
8                 pasta       shrimp  0.005067    0.322034  4.514494